.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}

.post-bar{
  vertical-align: 18px;
  font-size: 16px;
  border: none;
  margin-left: 5px;
  width: 270px;
}
.post-bar:focus {
  outline: none;
}
.post-bar::placeholder {
  opacity: 1;
  color: rgb(0, 0, 0);
}

.tweet {
  background-color: rgb(0, 172, 224);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  border: none;
  vertical-align: 18px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.tweet:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.tweet:active {
  opacity: 0.7;
}
div {
  display: inline-block;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  width: 420px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-left: 20px;
}