p {
  font-family: Arial;
}
.user-text {
  font-weight: bold;
}
.info-text {
  font-weight: normal;
  color: rgb(96, 96, 96);
}
.message-text {
  width: 500px;
}
.at-text {
  color: rgb(0, 183, 255);
  cursor: pointer;
}
.at-text:hover {
  text-decoration: underline;
}