body {
  height: 3000px;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
 
  background-color: black;
  color: white;
  border-radius: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 7px;
  padding-left: 7px; 
}
