.container {
  display: flex;
  flex-direction: row;
}

.first-element {
  display: flex;
  justify-content: center;
  background-color: lightpink;
  width: 100px;
}
.item1 {
  background-color: black;
  color: white;
}

.second-element {
  background-color: lightblue;
  width: 200px;
}